/*Here is some example CSS by Charlie Meyrick. */

body{

    background-color: #3ca0e2 ;
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h3{
    color: #000000;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p{font-family: "Comic Sans MS", "Comic Sans", cursive;
color: white;
}



.chart{
    height: 300px ;
    width: 300px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}