body {
  background-color: #e6edf0;
  max-width: 90%;
  margin: auto;
}

footer {
  height: 100px
}

/*Title for the website*/
header {
  font-family: "Comic Sans MS";
  font-size: 50px; 
  font-weight: bold;
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;  
}

/* Project reseach question title*/
.Question
{
  font-family: "Calibri";
  color: black;
  font-size: 40px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;
}

/*Section headings*/
.title1 {
  font-family: "Calibri";
  color: black;
  font-size: 20px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;
}

/*Paragraphs for the write up sections*/
.title3 {
  font-family: "Calibri";
  color: black;
  font-size: 15px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;
}

/*Customoizex text-link colour*/
.textLink{
  color: #051077;
}

.bold {
  font-weight:bold
}

.blue {
  color: rgb(116, 209, 240);
}

.purple {
  color: #051077;
}

/*Charts*/
.chart {
  vertical-align: center;
  width: 400px;
  height: flex;
  border: #e6edf0 solid 3.5px;
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
  background-color: #e6edf0;
}

/*Tweets had slightly different coding to allow them to be stacked closer together*/
.tweet {
  font-family: Arial, Helvetica, sans-serif;
  flex-flow: row wrap;
  width: 290;
  height: flex;
  border: #e6edf0 solid 0px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  background-color: #e6edf0
}


.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

/* Button code inspired by various sources online */
.button-74 {
background-color: #e6edf0;
border: 2px solid black;
border-radius: 30px;
box-shadow: black 4px 4px 0 0;
color: #000000;
cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;
margin: 3px;
display: inline-block;
font-family: "Calibri";
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-74:hover {
background-color: #ffff;
}

.button-74:active {
background-color: #ffffff;
box-shadow: #422800 2px 2px 0 0;
transform: translate(2px, 2px);
}

.button-74-clicked {
background-color: #ffffff;
border: 2px solid #051077;
border-radius: 30px;
box-shadow: #422800 2px 2px 0 0;
color: #000000;
cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;
margin: 3px;
display: inline-block;
font-family: "Calibri";
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
transform: translate(2px, 2px);
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

/* The below CSS is taken from RapidCharts, and sets a different number of columns (of graphs) on the page depending on the size of the screen that is being used. */
/* E.g., a typical phone displays one column, and iPad displays two, and a typical computer screen displays three. */
/* ------------------------------------------------------------------------------
	DIFFERENT SCREEN SIZES
-------------------------------------------------------------------------------*/

/* One column*/
@media only screen and (min-width: 250px) {
  .grid_items {
    grid-template-columns: 100%;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }

  .wrap {
    grid-template-columns: 100%;
    max-width: 360px; 
    margin: 0 auto 0 auto !important;
	  padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }
  .grid_items > div {
    padding: 10px;
  }
  .rubric {
    text-align: left;
  }
}

/* Two columns*/
@media only screen and (min-width: 900px) {
  .grid_items, .wrap {
    grid-template-columns: 47.5% 47.5%;
    max-width: 880px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: left;
  }
  .grid_items > div {
    padding: 10px;
  }
}

/* Three columns*/
@media only screen and (min-width: 1400px) {
  .grid_items, .wrap {
    grid-template-columns: 30% 30% 30%;
    max-width: 1400px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
  
  .grid_items > div {
    padding: 10px;
  }
}

/* Four columns*/
@media only screen and (min-width: 1800px) {
  .grid_items, .wrap {
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 1900px; 
    margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 10px;
  }
}
