body {
  background-color: #e6edf0;
  max-width: auto;
  margin: auto;
}

footer {
  height: 100px
}

header {
  font-family: "Comic Sans MS";
  font-size: 80px; 
  font-weight: bold;
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;  
}

.title1 {
  /*font-family: 'Helvetica Neue', sans-serif;*/
  font-family: "Calibri";
  color: black;
  font-size: 20px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;
}

.title2 {
  /*font-family: 'Helvetica Neue', sans-serif;*/
  font-family: "Comic Sans MS", "Comic Sans";
  color: #ffffff;
  font-size: 20px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;
}

.title3 {
  /*font-family: 'Helvetica Neue', sans-serif;*/
  font-family: "Calibri";
  color: black;
  font-size: 15px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center;
}

.para {
  /*font-family: 'Helvetica Neue', sans-serif;*/
  font-family: "Calibri";
  color: black;
  font-size: 15px; 
  letter-spacing: 1px; 
  line-height: 1; 
  text-align: center, auto !important;
}

.textLink{
  color: #051077;
}

.bold {
  font-weight:bold
}

.white {
  color: rgb(116, 209, 240);
}

.red {
  color: #051077;
}

.chart {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: center;
  width: flex;
  height: flex;
  border: #e6edf0 solid 4px;
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
  background-color: #e6edf0;
}

.tweet {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: center;
  width: 290;
  height: flex;
  border: #e6edf0 solid 0px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  background-color: #e6edf0
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button code */
.button-74 {
background-color: #e6edf0;
border: 2px solid black;
border-radius: 30px;
box-shadow: black 4px 4px 0 0;
color: #000000;
cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;
margin: 3px;
display: inline-block;
font-family: "Calibri";
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-74:hover {
background-color: #ffff;
}

.button-74:active {
background-color: #ffffff;
box-shadow: #422800 2px 2px 0 0;
transform: translate(2px, 2px);
}

.button-74-clicked {
background-color: #ffffff;
border: 2px solid #051077;
border-radius: 30px;
box-shadow: #422800 2px 2px 0 0;
color: #000000;
cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;
margin: 3px;
display: inline-block;
font-family: "Calibri";
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
transform: translate(2px, 2px);
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}


@media (min-width: 768px) {
.button-74 {
  min-width: 120px;
  padding: 0 25px;
}
}